# Termianl Virtual
# Ignore all files in the terminal virtual directory
venv/
.venv/
__pycache__/
*.pyc
*.db
.env
secao03_p1/observacoes.txt
secao04/observacoes.txt
secao04/exemplo_visual.png

observacoes.txt
